.bg-red{
    background: red;
}
.bg-green{
    background: green;
}
.bg-blue{
    background: blue;
}
.bg-orange{
    background: orange;
}
.bg-dark{
    background: rgb(42, 42, 42);
}
.bg-white{
    background: white;
}
.text-white{
    color: rgb(248, 248, 248);
}
.text-dark{
    color: rgb(23, 23, 23);
}
.not-link{
    text-decoration: none;
}

/* FLEX POSITION */
.flex {
	display: flex;
}
.j-content-center {
	justify-content: center;
}
.j-content-space-betwen {
	justify-content: space-between;
}
.j-content-space-around {
	justify-content: space-around;
}
.j-content-around {
	justify-content: space-around;
}
.j-content-end{
    justify-content: end;
}
.j-content-evenly {
	justify-content: space-evenly;
}
.f-direction-column {
	flex-direction: column;
}
.align-center {
	align-items: center;
}
.wrap {
	flex-wrap: wrap;
}

/* ALTURAS Y ANCHOS */
.h-100{
    height: 100vh;
}
.w-100{
    width: 100%;
}

/* ESTILOS GRAL */

.header{
    height: 9vh;
    position: fixed;
    z-index: 100;
}

.elem-navbar{
    font-size: 1.5rem;
}
.elem-navbar a{
    text-decoration: none;
    color: azure;
}
.content-cards{
    width: 70%;
    height: 80vh;
    border-radius: 10px;
    margin-top: 9vh;
    position: relative;
}
.common_card{
    border-radius: 10px;
    transition: width 0.3s, height 0.3s;
    background-position: center;
    background-size: cover;
}
.card{
    width: 15rem;
    height: 19rem;
}
.index-card{
    z-index: 5;
}
.index-two{
    z-index: 4;
}
.normal-size{
    width: 10rem;
    height: 19rem;
}
.medium{
    width: 17rem;
    height: 24rem;
}
#left{
    background: url('./src/public/img/potada01.webp') no-repeat;
    background-position: center;
    background-size: cover;
}
#medium{
    position: absolute;
    background: url('./src/public/img/potada02.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
#rigth{
    background: url('./src/public/img/potada03.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.card:hover{
    animation-name: agrandarCard;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

/* CONTENIDO DENTRO DE LAS CARDS */
.contenido{
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(36,0,98,1) 0%, rgba(114,35,169,1) 20%, rgba(0,212,255,0) 60%);
    border-radius: 10px;
    gap: 1vh;
    position: relative;
}
.desc-cartel{
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
    background: black;
    border: 1px solid yellow;
    width: 60%;
    text-align: right;
    padding:1vh 1vw 1vh 0;
}
.btn-generic{
    padding: 2vh;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    background: black;
    margin-bottom: 4vh;
}
.title-card-game{
    font-size: 1.6rem;
    font-weight: bold;
}
.desc-cartel{
    position: absolute;
    right: 0;
    top: 8vh;
}
.card_not{
    opacity: .7;
}
.oculto{
    visibility: hidden;
}

@keyframes agrandarCard {
	0% {
		width: 15rem;
        height: 19rem;
	}
	100% {
		width: 17rem;
        height: 24rem;
	}
}